<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
   <div id="my-app">
     <input type="text" v-model="maths"></input>
     <input type="text" v-model="science"></input>
     <input type="text" v-model="english"></input>
     <h3>Total Marks:{{totalSubjectMarks}}</h3>
   
     {{runme()}}<br/><br/>
     <br/><br/>
     <input type="text" v-model="meter" placeholder="Enter Length in meter"></input>
     Length in cm:{{convertToCm}}<br/><br/>
     <input type="text" placeholder="Enter First Name" v-model="firstname"></input>
     <input type="text" placeholder="Enter Last Name" v-model="lastname"></input>
     <h4>FullName:{{getFullName}}</h4>
   	
   </div>
   <script type="text/javascript">
   	  var myapp=new Vue(
   	  {
            el:'#my-app',
            data:
            {
            	firstname:'',
            	lastname:'',
            	meter:'',
            	maths:0,
            	science:0,
            	english:0

            },
            methods:
            {
            	  runme:function()
            	  {
            	  	  console.log("This is First Method");
            	  	  return "I am Method";

            	  }
            },
              computed:
              {
              	   getFullName:function()
              	   {
              	   	return this.firstname+" "+this.lastname;

              	   },
              	   convertToCm:function()
              	   {
              	   	   return this.meter*100;
              	   },
              	   totalSubjectMarks:function()
              	   {
              	   	  return this.maths+this.science+this.english;
              	   }
              }
   	  });
   </script>
        
</body>
</html>